<template>
  <div class="admin">
      <div class="form-group">
        <h1 class="text-center">新增資料</h1>
        <label for="item-name">名稱</label>
        <input type="text" class="form-control" id="item-name" v-model="name"  placeholder="名稱">
        <label for="picsrc">圖片連結</label>
        <input type="text" class="form-control" id="picsrc" v-model="picsrc" placeholder="圖片連結">
        <label for="item-href">網址</label>
        <input type="text" class="form-control" id="item-href" v-model="href" placeholder="網址">
        <br>
        <div class="form-check">
          產業
          <br>
          <label for="item-company1" class="form-check-label"><input id="item-company1" v-model="company" type="checkbox" value="company1">01.企業網站</input></label>
          <label for="item-company2" class="form-check-label"><input id="item-company2" v-model="company" type="checkbox" value="company2">02.線上購物</input></label>
          <label for="item-company3" class="form-check-label"><input id="item-company3" v-model="company" type="checkbox" value="company3">03.美妝衣飾</input></label>
          <label for="item-company4" class="form-check-label"><input id="item-company4" v-model="company" type="checkbox" value="company4">04.食品相關</input></label>
          <label for="item-company5" class="form-check-label"><input id="item-company5" v-model="company" type="checkbox" value="company5">05.工業技術</input></label>
        </div>
        <div class="form-check">        
          <label for="item-company6" class="form-check-label"><input id="item-company6" v-model="company" type="checkbox"  value="company6">06.醫療保健</input></label>
          <label for="item-company7" class="form-check-label"><input id="item-company7" v-model="company" type="checkbox"  value="company7">07.建築裝潢</input></label>
          <label for="item-company8" class="form-check-label"><input id="item-company8" v-model="company" type="checkbox"  value="company8">08.旅遊玩樂</input></label>
          <label for="item-company9" class="form-check-label"><input id="item-company9" v-model="company" type="checkbox"  value="company9">09.法律金融</input></label>
          <label for="item-company10" class="form-check-label"><input id="item-company10" v-model="company" type="checkbox"  value="company10">10.學術藝文</input></label>
        </div>
        <div class="form-check">
          風格
          <br>
          <label for="item-style1" class="form-check-label"><input id="item-style1" v-model="style" type="checkbox"  value="style1">01.科技風</input></label>
          <label for="item-style2" class="form-check-label"><input id="item-style2" v-model="style" type="checkbox"  value="style2">02.溫馨風</input></label>
          <label for="item-style3" class="form-check-label"><input id="item-style3" v-model="style" type="checkbox"  value="style3">03.夢幻風</input></label>
          <label for="item-style4" class="form-check-label"><input id="item-style4" v-model="style" type="checkbox"  value="style4">04.田園風</input></label>
          <label for="item-style5" class="form-check-label"><input id="item-style5" v-model="style" type="checkbox"  value="style5">05.時尚風</input></label>
        </div>
        <div class="form-check">        
          <label for="item-style6" class="form-check-label"><input id="item-style6" v-model="style" type="checkbox"  value="style6">06.復古風</input></label>
          <label for="item-style7" class="form-check-label"><input id="item-style7" v-model="style" type="checkbox"  value="style7">07.穩重</input></label>
          <label for="item-style8" class="form-check-label"><input id="item-style8" v-model="style" type="checkbox"  value="style8">08.華麗</input></label>
          <label for="item-style9" class="form-check-label"><input id="item-style9" v-model="style" type="checkbox"  value="style9">09.簡單大方</input></label>
          <label for="item-style10" class="form-check-label"><input id="item-style10" v-model="style" type="checkbox"  value="style10">10.其他</input></label>
        </div>
        <div class="form-check">
          色系
          <br>
          <label for="item-color1" class="form-check-label"><input id="item-color1" v-model="color" type="checkbox" value="color1">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_01_over.jpg"/></input></label>
          <label for="item-color2" class="form-check-label"><input id="item-color2" v-model="color" type="checkbox" value="color2">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_02_over.jpg"/></input></label>
          <label for="item-color3" class="form-check-label"><input id="item-color3" v-model="color" type="checkbox" value="color3">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_03_over.jpg"/></input></label>
          <label for="item-color4" class="form-check-label"><input id="item-color4" v-model="color" type="checkbox" value="color4">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_04_over.jpg"/></input></label>
          <label for="item-color5" class="form-check-label"><input id="item-color5" v-model="color" type="checkbox" value="color5">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_05_over.jpg"/></input></label>
        </div>
        <div class="form-check">        
          <label for="item-color6" class="form-check-label"><input id="item-color6" v-model="color" type="checkbox" value="color6">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_06_over.jpg"/></input></label>
          <label for="item-color7" class="form-check-label"><input id="item-color7" v-model="color" type="checkbox" value="color7">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_07_over.jpg"/></input></label>
          <label for="item-color8" class="form-check-label"><input id="item-color8" v-model="color" type="checkbox" value="color8">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_08_over.jpg"/></input></label>
          <label for="item-color9" class="form-check-label"><input id="item-color9" v-model="color" type="checkbox" value="color9">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_09_over.jpg"/></input></label>
        </div>
        <button class="submit-btn" @click="submitform">新增資訊</button>
      </div>
      
      <button @click="postPost" class="pushapi"><Icon type="paper-airplane"></Icon><span>送出資料</span></button>

    <draggable v-model="items" tag="div" class="listview">
      <transition-group name="fade" tag="ul">
            <!--產出列表-->
            <li v-for="(item,index) in items" :key="index" class="listanimate">
              <div class="listgroup">
                <span>{{index + 1}}</span>
                <span class="casename">{{item.name}}</span>
                <div class="btn-group">
                  <!--編輯按鈕-->
                  <button class="editicon" @click="item.openedit =!item.openedit"><Icon type="edit"></Icon></button>
                  <!--移除按鈕-->
                  <button @click="removeItem(item)" class="deleteicon"><Icon type="trash-a"></Icon></button>
                </div>
                <!--編輯模式-->
                <transition name="dropdown">
                  <div class="editview" v-if="item.openedit" >  
                    <div class="row color-g">
                      <div class="col-6">
                        <label for="item-name">名稱</label>
                        <input type="text" class="form-control" id="item-name" v-model="item.name"  placeholder="名稱">
                        <label for="picsrc">圖片連結</label>
                        <input type="text" class="form-control" id="picsrc" v-model="item.picsrc" placeholder="圖片連結">
                        <label for="item-href">網址</label>
                        <input type="text" class="form-control" id="item-href" v-model="item.href" placeholder="網址">
                      </div>
                      <div class="col-6 d-flex justify-content-center">
                        <a :href="item.href">
                          <h5 class="text-center">{{item.name}}</h5>
                          <img :src="item.picsrc" >
                        </a>
                      </div>
                      <div class="col-4">
                        <div class="form-check">
                          產業
                          <br>
                          <label for="view-item-company1" class="form-check-label"><input id="view-item-company1" v-model="item.company" type="checkbox" value="company1">01.企業網站</input></label>
                          <label for="view-item-company2" class="form-check-label"><input id="view-item-company2" v-model="item.company" type="checkbox" value="company2">02.線上購物</input></label>
                          <label for="view-item-company3" class="form-check-label"><input id="view-item-company3" v-model="item.company" type="checkbox" value="company3">03.美妝衣飾</input></label>
                          <label for="view-item-company4" class="form-check-label"><input id="view-item-company4" v-model="item.company" type="checkbox" value="company4">04.食品相關</input></label>
                          <label for="view-item-company5" class="form-check-label"><input id="view-item-company5" v-model="item.company" type="checkbox" value="company5">05.工業技術</input></label>
                          <label for="view-item-company6" class="form-check-label"><input id="view-item-company6" v-model="item.company" type="checkbox"  value="company6">06.醫療保健</input></label>
                          <label for="view-item-company7" class="form-check-label"><input id="view-item-company7" v-model="item.company" type="checkbox"  value="company7">07.建築裝潢</input></label>
                          <label for="view-item-company8" class="form-check-label"><input id="view-item-company8" v-model="item.company" type="checkbox"  value="company8">08.旅遊玩樂</input></label>
                          <label for="view-item-company9" class="form-check-label"><input id="view-item-company9" v-model="item.company" type="checkbox"  value="company9">09.法律金融</input></label>
                          <label for="view-item-company10" class="form-check-label"><input id="view-item-company10" v-model="item.company" type="checkbox"  value="company10">10.學術藝文</input></label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-check">
                          風格
                          <br>
                          <label for="view-item-style1" class="form-check-label"><input id="view-item-style1" v-model="item.style" type="checkbox"  value="style1">01.科技風</input></label>
                          <label for="view-item-style2" class="form-check-label"><input id="view-item-style2" v-model="item.style" type="checkbox"  value="style2">02.溫馨風</input></label>
                          <label for="view-item-style3" class="form-check-label"><input id="view-item-style3" v-model="item.style" type="checkbox"  value="style3">03.夢幻風</input></label>
                          <label for="view-item-style4" class="form-check-label"><input id="view-item-style4" v-model="item.style" type="checkbox"  value="style4">04.田園風</input></label>
                          <label for="view-item-style5" class="form-check-label"><input id="view-item-style5" v-model="item.style" type="checkbox"  value="style5">05.時尚風</input></label>   
                          <label for="view-item-style6" class="form-check-label"><input id="view-item-style6" v-model="item.style" type="checkbox"  value="style6">06.復古風</input></label>
                          <label for="view-item-style7" class="form-check-label"><input id="view-item-style7" v-model="item.style" type="checkbox"  value="style7">07.穩重</input></label>
                          <label for="view-item-style8" class="form-check-label"><input id="view-item-style8" v-model="item.style" type="checkbox"  value="style8">08.華麗</input></label>
                          <label for="view-item-style9" class="form-check-label"><input id="view-item-style9" v-model="item.style" type="checkbox"  value="style9">09.簡單大方</input></label>
                          <label for="view-item-style10" class="form-check-label"><input id="view-item-style10" v-model="item.style" type="checkbox"  value="style10">10.其他</input></label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-check">
                          色系
                          <br>
                          <label for="view-item-color1" class="form-check-label"><input id="view-item-color1" v-model="item.color" type="checkbox" value="color1">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_01_over.jpg"/></input></label>
                          <label for="view-item-color2" class="form-check-label"><input id="view-item-color2" v-model="item.color" type="checkbox" value="color2">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_02_over.jpg"/></input></label>
                          <label for="view-item-color3" class="form-check-label"><input id="view-item-color3" v-model="item.color" type="checkbox" value="color3">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_03_over.jpg"/></input></label>
                          <label for="view-item-color4" class="form-check-label"><input id="view-item-color4" v-model="item.color" type="checkbox" value="color4">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_04_over.jpg"/></input></label>
                          <label for="view-item-color5" class="form-check-label"><input id="view-item-color5" v-model="item.color" type="checkbox" value="color5">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_05_over.jpg"/></input></label>    
                          <label for="view-item-color6" class="form-check-label"><input id="view-item-color6" v-model="item.color" type="checkbox" value="color6">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_06_over.jpg"/></input></label>
                          <label for="view-item-color7" class="form-check-label"><input id="view-item-color7" v-model="item.color" type="checkbox" value="color7">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_07_over.jpg"/></input></label>
                          <label for="view-item-color8" class="form-check-label"><input id="view-item-color8" v-model="item.color" type="checkbox" value="color8">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_08_over.jpg"/></input></label>
                          <label for="view-item-color9" class="form-check-label"><input id="view-item-color9" v-model="item.color" type="checkbox" value="color9">&nbsp&nbsp<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_09_over.jpg"/></input></label>
                        </div>
                      </div>
                      <button class="editsubmit" @click="item.openedit =!item.openedit" >更新內容</button>
                    </div>
                  </div>
                </transition>
              </div>

            </li>
      </transition-group>
    </draggable>

  </div>
</template>

<script>
// 引入呼叫axios套件
import axios from 'axios'
// 引入drap
  import draggable from 'vuedraggable'

  export default {
    name: 'admin',
    components:{
      draggable,
    },
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
        id: '',
        items: [],
        name: '',
        picsrc: '',
        href: '',
        company:[],
        style:[],
        color:[],
        openedit: false
      }
    },
    computed: {
      // 排序陣列
      // itemarray() {
      //   return this.items.sort((a,b)=>{
      //     a = a.index
      //     b = b.index
      //     return (a === b ? 0 : a < b ? 1 : -1) 
      //   })
      // }
    },
    methods:{
      // 新增物件
      submitform(){
          this.items.splice(0,0,{
            'id': this.uid,
           'name': this.name,
           'picsrc': this.picsrc,
           'href': this.href,
           'company': this.company,
           'style': this.style,
           'color': this.color,
            'openedit': false       
         })
          // 表單清空
            this.name= ''
            this.picsrc= ''
            this.href= ''
            this.company= []
            this.style= []
            this.color= []
      },
      // 推送新增物件到api
      postPost(){
        // 先進行陣列比對
        // 如果陣列裡面的openedit結果為true
        // 執行alert
        if(this.items.some((item)=>{
          return item.openedit
        })){
          alert('尚未完成編輯')
          return
        }
          // 完成編輯送出api
            axios({
              method: 'post',
              // heroku-api
              url: 'https://redmediawebapi.herokuapp.com/webcaseapipush',
              data: this.items
            })
            .then((response)=>{
              console.log(response)
              window.location.reload()
            }).catch((error)=>{
              console.log(error)
            })
            axios({
              method: 'post',
              // jsonbin-api
              url: 'https://jsonbin.org/benjaming1312/test',
              headers:{
                'Authorization': 'token 9f4d454c-203d-4b23-a047-b126581d6e91',
                'Content-Type': 'application/json'
              },
              data: this.items
            })
            .then((response)=>{
              console.log(response)
              window.location.reload()
            }).catch((error)=>{
              console.log(error)
            })
    
      },
      // 刪除物件
      removeItem(item){
         this.items.splice(this.items.indexOf(item),1)
      }
    },
    // 取api資料
    created() {
      // jsonbin-api
      // axios.get('https://jsonbin.org/benjaming1312/test').then((response) => {
      // heroku-api
      axios.get('https://redmediawebapi.herokuapp.com/webcaseapiget').then((response) => {
        this.items = response.data
        console.log(this.items)
        this.items.forEach((item,index)=>{
          item.id = index
        })
      }).catch((error) => {
        console.log(error)
      })
    }
  }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='sass'>
  .admin
    margin: 0 auto
    width: 100%
  .form-group
    width: 60%
    min-width: 300px
    background: #2980B9
    margin: 4rem auto 0
    padding: 1rem 1rem 8rem 1rem
    border-radius: 1rem
    color: #fff
    position: relative
    box-shadow: 5px 5px 10px -5px #333
    >label
      margin-top: 2rem
      font-weight: bold
      font-size: 1.2rem
      &:nth-of-type(1)
        margin-top: 0
    >.form-check
      font-size: 1.2rem
      font-weight: bold
      label
        font-weight: normal
        font-size: 1rem
    img
      border: 1px solid #fff

  .submit-btn
    position: absolute
    right: 2rem 
    bottom: 2rem
    padding: .5rem 1rem
    background: #3498DB
    color: #fff
    border: 2px solid #fff
    border-radius: .5rem
    letter-spacing: .1rem
    font-weight: bold
    cursor: pointer
    transition: all 1s ease
    &:hover,&:active,&:focus
      background: #E74C3C
  
  h1
    margin: 1rem 0 
    padding-bottom: 1.5rem
    border-bottom: 3px solid #fff
  .listgroup
    display: flex
    flex-wrap: wrap
    align-items: center
    position: relative
    padding: 0rem 0
    span
      cursor: grab
  .sortable-ghost.sortable-chosen
    opacity: .7
    cursor: grabbing
  .casename
    margin: 0 .5rem
  .listview
    width: 80%
    margin: 0 auto
    border: 1px solid #3498DB
    padding: 1rem 
    border-radius: 1rem
    background: #3498DB
    margin-top: 4rem
    margin-bottom: 4rem
    box-shadow: 5px 5px 10px -5px #333    
    h4
      color: #fff
      padding-bottom: 1rem
      margin-bottom: 1rem
      border-bottom: 2px solid #fff
    ul
      li
        border-radius: .5rem
        background: #fff
        margin: .5rem 0 1rem
        color: #2980B9
        font-weight: bold
        letter-spacing: .1rem
        border-bottom: 1px solid #3498DB
        padding: 1rem 1rem
        cursor: grab
        span
          font-size: 1.2rem
          transition: all 1s ease
  .btn-group
    display: flex
    position: absolute
    right: -.5rem
    top: -.5rem
    button
      margin: 0 .5rem
      padding: .5rem .7rem
      border: none
      border-radius: .5rem
      transition: all .5s ease
      border: 1px solid transparent      
      cursor: pointer
      i
        font-size: 1.2rem
        color: #fff
    .editicon
      background: #2980B9
      &:active,&:hover,&:focus
        background: #fff
        border: 1px solid #2980B9 
        i
          color: #2980B9 
    .deleteicon
      background: #E74C3C
      color: #fff
      padding: .5rem .8rem
      &:active,&:hover,&:focus
        background: #fff
        border-color: #E74C3C
        i
          color: #E74C3C
  .color-g
    margin-left: 0
    margin-right: 0
    background: #3498DB
    padding: 1rem
    color: #fff
    border-radius: .5rem
    img
      border: 1px solid #fff
    .col-6
      label
        font-size: 1.2rem
        margin-top: 1rem
        font-weight: bold
        letter-spacing: .1rem
        &:first-child
          margin-top: 0
    .col-6.d-flex
      align-items: center
      h5
        color: #fff
        margin-bottom: 1rem
    .col-4
      margin-top: 2rem
      display: flex
      justify-content: space-between
      .form-check
        font-size: 1.2rem
        background: #fff
        padding: 1rem
        color: #2980B9
        border-radius: .5rem
        label
          padding-left: .5rem
          font-size: .8rem
          letter-spacing: .1rem
          color: #3498DB
    .editsubmit
      width: 30%
      margin: 1rem auto
      padding: .7rem 1rem
      border: none
      background: #F1C40F
      color: #fff
      font-size: 1.2rem
      font-weight: bolder
      letter-spacing: .2rem
      border: 3px solid #fff
      border-radius: .5rem
      cursor: pointer
      transition: all 1s ease
      &:hover,&:active,&:focus
        background: #F39C12
  .pushapi
    position: fixed
    top: 35%
    right: 2rem
    color: #fff
    border: none
    background: #E74C3C
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    padding: 1rem 0
    cursor: pointer
    transition: all 1s ease
    i
      font-size: 2rem
      display: block
      width: 100%
      transition: all .5s cubic-bezier(0.19, -0.43, 0.6, 0.28)
    span
      font-size: .8rem
      display: block
      font-weight: bold
    &:hover,&:focus,&:active
      padding-top: 2rem 0 1rem
      opacity: .7
      i
        transform: translateY(-10px)
    

  // 編輯模式
  .editview
    margin-top: 1rem

  .fade-enter-active.listanimate
    transition: all 3s ease
    transform: translateY(0em)    
  
  .fade-enter, .fade-leave-to ,.listanimate.fade-enter,.listanimate.fade-leave-to
    transform: translateY(-1em)
    opacity: 0


  .dropdown-enter  
    opacity: 0
    
  .dropdown-enter-active
    transition: all 1s ease    
  
  .dropdown-leave-active
    opacity: 0       
    transition: all 1s ease    
    
  .row
    position: relative
    overflow: hidden
      
  .demo-spin-icon-load
    animation: ani-demo-spin 1s linear infinite
    @keyframes ani-demo-spin 
      from  
        transform: rotate(0deg)
      50%   
        transform: rotate(180deg)
      to    
        transform: rotate(360deg)
    
    .demo-spin-col
        height: 300px
        position: relative
        border: 1px solid #eee
    

  h1,
  h2 
    font-weight: normal;
  
  
  ul 
    list-style-type: none;
    padding: 0;
  
  
  li 
    display: block;
    margin: 0 10px;
  
  
  a 
    color: #42b983;
  

</style>
