<template>
  <div id="colmd" class="col-12">
    <!--新增客戶區-->
    <div class="form-group">
      <label for="item-name">客戶名稱</label>
      <input type="text" class="form-control" id="item-name" v-model="customername"  placeholder="客戶名稱">

      <label for="picsrc">圖片連結</label>
      <input type="text" class="form-control" id="picsrc" v-model="imgsrc" placeholder="圖片連結">

      <label for="item-href">網址</label>
      <input type="text" class="form-control" id="item-href" v-model="ahref" placeholder="網址">

      <label for="item-href">建置日期</label>
      <input type="date" class="form-control" id="item-href" v-model="builddate" placeholder="建置日期">

      <label for="item-href">目前狀態</label>
      <input type="text" class="form-control" id="item-href" v-model="schedule" placeholder="目前狀態">

      <!--<button class="submit-btn" @click="submitform">新增客戶</button>-->
      <!--<button @click="postPost" class="pushapi"><Icon type="paper-airplane"></Icon><span>送出資料</span></button>-->
    </div>
    
    
    <!--快速搜尋-->
    <label for="item-name">快速搜尋</label>
    <input type="text" class="form-control" id="item-name" v-model="searchname"  placeholder="客戶名稱">
    <!--目前客戶列表-->
    <table class="table table-bordered table-hover table-sm table-responsive">
      <thead >
        <tr>
          <td>建置日期</td>
          <td>客戶名稱</td>
          <td>目前狀態</td>
          <td>圖片</td>
          <td>編輯工具</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in datas" :key="index">
          <td>
            <span>{{item.builddate.split('-')[0]+ '/' + item.builddate.split('-')[1] +'/'+ item.builddate.split('-')[2]}}</span>
            <span>
              <input type="date" class="form-control" id="item-name" v-model="item.builddate" date-format="YYYY-MM-DD"  :placeholder="item.builddate">                          
            </span>
          </td>
          <td>
            <span>{{item.customername}}</span>
            <span>
              <input type="text" class="form-control" id="item-name" v-model="item.customername"  :placeholder="item.customername">            
            </span>
          </td>
          <td>
            <span>{{item.schedule}}</span>
            <span>
              <input type="text" class="form-control" id="item-name" v-model="item.schedule"  :placeholder="item.schedule">                        
            </span>
          </td>
          <td>
            <a :href="item.ahref">
              <img :src="item.imgsrc" class="img-responsive" alt="">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

	</div>
</template>

<script>
// 引入呼叫axios套件
import axios from 'axios'

export default {
  name: 'onlineckeck',
  data () {
    return {  
      datas: '',
      customername: '',
      imgsrc: '',
      ahref: '',
      builddate: '',
      schedule: '',
      searchname: ''
    }
  },
  created(){
    axios.get('https://jsonbin.org/benjaming1312/onlinecheck').then((response)=>{
      this.datas = response.data
    }).catch((error)=>{
      console.log(error)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.ahref a
  display: block
  width: 100%
  height: 100%
  img
    width: 100%

h1, h2 
  font-weight: normal


ul 
  list-style-type: none
  padding: 0


li 
  display: inline-block
  margin: 0 10px


a 
  color: #42b983

</style>
