<template>
  <div id="app">
    <b-navbar toggleable type="inverse" variant="inverse">
      <div class="container">
        <!--選單-->
        <b-nav-toggle target="nav_collapse" />

        <!--ＬＯＧＯ-->
        <a class="navbar-brand" style="color:white" to="/">
          <span>Redmedia.tw 設計後台管理介面</span>
        </a>

        <!--下拉選單內容-->
        <b-collapse is-nav id="nav_collapse">
          <b-nav is-nav-bar>
              <li>
                <!--router-->
                <router-link :to="{path:'/'}"><Icon type="document" size='16'></Icon>線上校稿</router-link>
              </li>
              <li>
                <!--router-->
                <router-link :to="{path:'/admin'}"><Icon type="document" size='16'></Icon>響應式網站案例</router-link>
              </li>

            <!--<b-nav-item>Contact Us</b-nav-item>-->
          </b-nav>
          <b-nav is-nav-bar class="ml-auto">
            <!--<b-nav-item-dropdown text="Lang" right-alignment>
              <a href class="dropdown-item active">
                                EN
                              </a>
              <a href class="dropdown-item">
                                ES
                              </a>
            </b-nav-item-dropdown>-->
            <!--<b-nav-item-dropdown right-alignment>
              <template slot="text">
                <span style="font-weight: bold;">User</span>
              </template>
              <a href class="dropdown-item">
                                Profile
                              </a>
              <a href class="dropdown-item">
                                Sign out
                              </a>
            </b-nav-item-dropdown>-->
          </b-nav>
        </b-collapse>

        <!--選單.end-->
      </div>
    </b-navbar>
    <div class="container">
      <div class="row">
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data() {
      return {
      }
    }
  }

</script>

<style lang="sass" scoped>

/*.slide-enter-active */
.nav.navbar-nav
 li
  margin: 0 .5rem
  a
    color: #fff
    text-decoration: none

.slide-enter
  transform: translateX(10vw)
  opacity: 0

.slide-enter-to
  transform: translateX(0vw)
  transition: all .5s ease

  
.slide-leave
  transform: translateX(0vw)  

.slide-leave-to 
  transform: translateX(-100vw)  
  opacity: 0
  transition: all .5s ease
  
*
  font-size: 14px
.nav-item
  a
    color: rgba(255, 255, 255, 0.5)
  &:hover,&:focus,&:active
    a
      color: rgba(255, 255, 255, 0.75)

</style>